[submodule "pack/general/start/dashboard-nvim"]
	path = pack/general/start/dashboard-nvim
	url = https://github.com/glepnir/dashboard-nvim
[submodule "pack/aesthetic/start/nvim-web-devicons"]
	path = pack/aesthetic/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule "pack/general/start/popup.nvim"]
	path = pack/general/start/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
[submodule "pack/general/start/nvim-tree.lua"]
	path = pack/general/start/nvim-tree.lua
	url = https://github.com/kyazdani42/nvim-tree.lua
[submodule "pack/general/start/plenary.nvim"]
	path = pack/general/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "telescope.nvim"]
	path = telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "pack/general/start/telescope.nvim"]
	path = pack/general/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "pack/general/start/coc.nvim"]
	path = pack/general/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "pack/general/start/telescope-fzy-native.nvim"]
	path = pack/general/start/telescope-fzy-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzy-native.nvim
[submodule "pack/general/start/telescope-media-files.nvim"]
	path = pack/general/start/telescope-media-files.nvim
	url = https://github.com/nvim-telescope/telescope-media-files.nvim
[submodule "pack/aesthetic/start/tokyonight.nvim"]
	path = pack/aesthetic/start/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim.git
[submodule "pack/aesthetic/start/lualine.nvim"]
	path = pack/aesthetic/start/lualine.nvim
	url = https://github.com/hoob3rt/lualine.nvim
[submodule "pack/aesthetic/start/todo-comments"]
	path = pack/aesthetic/start/todo-comments
	url = https://github.com/folke/todo-comments.nvim
[submodule "pack/language-support/opt/luadev"]
	path = pack/language-support/opt/luadev
	url = https://github.com/folke/lua-dev.nvim
