[submodule "pack/ultirequiem/start/vim-go"]
	path = pack/ultirequiem/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/ultirequiem/start/fugitive"]
	path = pack/ultirequiem/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/ultirequiem/start/nerdtree"]
	path = pack/ultirequiem/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "pack/ultirequiem/start/nerdtree-git-plugin"]
	path = pack/ultirequiem/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "pack/ultirequiem/start/lightline"]
	path = pack/ultirequiem/start/lightline
	url = https://github.com/itchyny/lightline.vim
