[submodule "pack/general/start/coc.nvim"]
	path = pack/general/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "pack/aesthetic/start/vim-gotham"]
	path = pack/aesthetic/start/vim-gotham
	url = https://github.com/whatyouhide/vim-gotham
[submodule "pack/aesthetic/start/vim-airline"]
	path = pack/aesthetic/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/aesthetic/start/vim-airline-themes"]
	path = pack/aesthetic/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/aesthetic/start/vim-devicons"]
	path = pack/aesthetic/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "pack/general/start/ctrlp.vim"]
	path = pack/general/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "pack/general/start/vim-gitgutter"]
	path = pack/general/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/general/start/nerdtree"]
	path = pack/general/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "pack/language-support/start/vim-go"]
	path = pack/language-support/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "pack/general/start/vim-fugitive"]
	path = pack/general/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/aesthetic/start/vim-nerdtree-syntax-highlight"]
	path = pack/aesthetic/start/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight
[submodule "pack/aesthetic/start/papercolor-theme"]
	path = pack/aesthetic/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "pack/general/start/auto-pairs"]
	path = pack/general/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/general/start/vim-autoformat"]
	path = pack/general/start/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat