snippet date "Current Date"
`!v strftime("%d-%m-%Y")`
endsnippet

snippet time "Current Time"
`!v strftime("%H:%M")`
endsnippet

snippet datetime "Current Datetime"
`!v strftime("%d-%m-%Y %H:%M")`
endsnippet

snippet lorem "Some Lorem Ipsum" 
Lorem ipsum dolor sit amet, consectetur adipisicing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
endsnippet
