snippet * "italics"
*${1:${VISUAL}}*$0
endsnippet

snippet ** "bold"
**${1:${VISUAL}}**$0
endsnippet

snippet /* "Comment"
<!-- ${1:${VISUAL}} -->$0
endsnippet

snippet link "Link to something"
[${1:${VISUAL:Text}}](${3:https://${2:example.com}})$0
endsnippet

snippet img "Image"
![${1:Picture alt}](${2:URL or Path})
endsnippet

snippet codeblock "Codeblock" b
\`\`\`$1
$2
\`\`\`
$3
endsnippet
