snippet header "Header comment"
" File: ${1:`!v expand('%:p:h:t').'/'.expand('%:t')`}
" Author: ${2}
" Description: ${3}
${4:" Last Change: `!v strftime("%b %d, %Y")`}
endsnippet

snippet f "function" b
fun ${1:function_name}($2)
	${3:" code}
endf
endsnippet
